* {
  box-sizing: border-box;
}

// .card-info-box {
//   display: none;
//   width: 200px;
//   height: 100px;
//   position: absolute;
//   border: 1px solid black;
//   z-index: 1000;
//
//
// }
.card-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
  background-color: white;
  padding: 5px;
  margin: 0px 5px;
  &:hover .card-info-box{
    display: block;

  }

}

@media (overflow-block: scroll){
  .card-info-box {
    right: 0;
    left: -20px;
  }
}

.card-top-line {
  display: flex;
}
.card-casting {
  display: flex;
  flex-direction: column;
  height: 15%;
  width: 16%;
  .fire {
    background-color: red;
  }
  .wind {
    background-color: lime;
  }
  .earth {
    background-color: brown;
  }
  .electric {
    background-color: yellow;
  }
  .void {
    background-color: purple;
    color: white;
  }
  .aether {
    background-color: silver;
  }
  .light {
    background-color: #eee;
  }
  .dark {
    background-color: black;
    color: white;
  }
  .water {
    background-color: blue;
  }
  .ice {
    background-color: cyan;
  }
}
.card-cost {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
}
.card-supply-guide {
  width: 100%;
  height: 5px;
  position: relative;
}
.card-supply-wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.card-supply {
  text-align: center;
  width: 50%;
}
.card-name-types {
  flex-grow: 1;
  .card-name {
    background-color: grey;
  }
  .card-type {
    background-color: lightgrey;
  }
}
.card-image-box {
  align-self: center;
  overflow: hidden;
  width: 100%;
  height: 45%;
  img {
    width: 100%;
  }
}

.card-effects {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 12px;

  .card-effects-box {
    flex-grow: 1;
    padding: 5px;
  }
  .offense {
    background-color: red;
  }
  .defense {
    background-color: green;
  }
  .neutral {
    background-color: grey;
  }
}

.card-bottom {
  background-color: #ddd;
  display: flex;
  justify-content: space-between;
  .card-legal {
    align-self: flex-end;
    font-size: 8px;
  }
}
.card-stats {
  background-color: lightgrey;
  position: absolute;
  bottom: 5px;
  height: 7%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  box-shadow: 2px 2px 10px black;
  .inner {

  }
}
