* {
  box-sizing: border-box; }

.board-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: lightgrey;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }
  .board-wrapper .board-sidebar {
    background-color: #aaa;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 100;
    height: 100%;
    border: 1px solid black;
    width: 10%;
    left: -7%;
    transition: left 1s; }
    .board-wrapper .board-sidebar:hover {
      left: 0%; }
    .board-wrapper .board-sidebar .opponent-sidebar {
      height: 48%;
      width: 98%;
      border: 1px solid black; }
    .board-wrapper .board-sidebar .player-sidebar {
      height: 48%;
      width: 98%;
      border: 1px solid black; }
  .board-wrapper .board-opponent-side {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 97%;
    height: 49%;
    border: 1px solid black;
    align-self: flex-end; }
    .board-wrapper .board-opponent-side .opponent-field {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 99%;
      width: 82%;
      border: 1px solid black; }
      .board-wrapper .board-opponent-side .opponent-field .resources {
        height: 32%;
        border: 1px solid black;
        background-color: green; }
      .board-wrapper .board-opponent-side .opponent-field .defense {
        height: 32%;
        border: 1px solid black;
        background-color: blue; }
      .board-wrapper .board-opponent-side .opponent-field .offense {
        height: 32%;
        border: 1px solid black;
        background-color: red; }
    .board-wrapper .board-opponent-side .opponent-sidebar {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-right: 1%;
      height: 99%;
      width: 15%;
      border: 1px solid black; }
      .board-wrapper .board-opponent-side .opponent-sidebar .paragon {
        height: 30%;
        width: 98%;
        border: 1px solid black;
        position: relative;
        overflow: hidden; }
        .board-wrapper .board-opponent-side .opponent-sidebar .paragon img {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto; }
        .board-wrapper .board-opponent-side .opponent-sidebar .paragon .opponent-health {
          position: absolute;
          color: white;
          text-shadow: 0px 0px 5px black;
          z-index: 1000; }
  .board-wrapper .board-player-side {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 97%;
    height: 49%;
    border: 1px solid black;
    align-self: flex-end; }
    .board-wrapper .board-player-side .player-field {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 99%;
      width: 82%;
      border: 1px solid black; }
      .board-wrapper .board-player-side .player-field .resources {
        display: flex;
        height: 32%;
        border: 1px solid black;
        background-color: green; }
      .board-wrapper .board-player-side .player-field .defense {
        display: flex;
        height: 32%;
        border: 1px solid black;
        background-color: blue; }
      .board-wrapper .board-player-side .player-field .offense {
        display: flex;
        height: 32%;
        border: 1px solid black;
        background-color: red; }
    .board-wrapper .board-player-side .player-sidebar {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-right: 1%;
      height: 99%;
      width: 15%;
      border: 1px solid black; }
      .board-wrapper .board-player-side .player-sidebar .paragon {
        height: 30%;
        width: 98%;
        border: 1px solid black;
        position: relative;
        overflow: hidden; }
        .board-wrapper .board-player-side .player-sidebar .paragon img {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto; }
        .board-wrapper .board-player-side .player-sidebar .paragon .player-health {
          position: absolute;
          color: white;
          text-shadow: 0px 0px 5px black;
          z-index: 1000; }
  .board-wrapper .details-view {
    background-color: #aaa;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2000;
    height: 100%;
    width: 17%;
    border: 1px solid black;
    right: -15.5%;
    transition: right 1s; }
    .board-wrapper .details-view .details-view-expand {
      width: 10%;
      height: 3%;
      border: 1px solid black;
      text-align: center; }
    .board-wrapper .details-view .details-view-card {
      height: 400px;
      display: flex;
      align-items: center; }
  .board-wrapper .show {
    right: 0%; }
  .board-wrapper .player-hand {
    background: #aaa;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    z-index: 110;
    height: 25%;
    width: 80%;
    border: 1px solid black;
    bottom: -20%;
    left: 0;
    right: 0;
    margin: auto;
    transition: bottom 1s; }
    .board-wrapper .player-hand:hover {
      bottom: 0; }

/*# sourceMappingURL=gameboard.css.map */
